In [6]:
import pandas as pd

In [22]:
df = pd.read_csv('g197689ME110.csv')

In [16]:
df['date'] = pd.to_datetime(df['date'])

In [17]:
df.dtypes

regiao                      object
estado                      object
date                datetime64[ns]
casosNovos                   int64
casosAcumulados              int64
obitosNovos                  int64
obitosAcumulados             int64
dtype: object

In [18]:
df.head()

,regiao,estado,date,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
0,Sudeste,MG,2020-02-01,0,0,0,0
1,Sudeste,MG,2020-02-02,0,0,0,0
2,Sudeste,MG,2020-02-03,0,0,0,0
3,Sudeste,MG,2020-02-04,0,0,0,0
4,Sudeste,MG,2020-02-05,0,0,0,0